extends layout-nav

include review.pug
include rating-section.pug

append head
    link(rel='stylesheet' href='/stylesheets/movie-detail.css')

block content
    div(class="main-content-container")
        div
            h3(class="movie-title")= movie.movie_title
        div(class="sub-detail-container")
                p= movie.release_year
                p= movie.genre
        div(class="movie-details") .
                img(class="movie-cover" src=movie.cover alt="Cover image of the User's movie of interest.")
                table(class="details-table")
                    thead
                    tbody(class="table")
                        tr
                            td(class='leftHeader') Summary
                            td= movie.summary
                        tr
                            td(class='leftHeader') Director
                            td= movie.director
                        tr
                            td(class='leftHeader') Stars
                            td= movie.main_actors
                        tr
                            td(class='leftHeader') Average Rating
                            td= avgRating
                        tr.myRating
                            td(class='leftHeader') My Rating
                            td.ratingDom
                                +rating(section)

    #reviews_container
        if errors
            p#errors The following error(s) occurred:
            ul
                each error in errors
                    li= error
        form(class='review-form' action=`/movies/${movieId}` method="post")
            h4 Write a review:
            div(class="title_summary_button")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="movieId" value=movieId)
                input(type="text" class="review_title" name="review_title" placeholder="Review title...")
                textarea(type="text" class="review_summary" name="summary" placeholder="Type review here...")
                button(type="submit" id='review_button') Post Review
        div.all-reviews-container
            +review (reviews)
    script(src="/javascripts/reviewsDOM.js" type="module")
    script(src="/javascripts/ratingsDOM.js" type="module")
