extends layout-nav

append head
  link(rel='stylesheet' href='/stylesheets/movies-all.css')

block content
  .movie_title
    h2 Discover new movies:
  div
    .movie_container
      table.movie_list
        thead
          tr
            th
            th Title
            th Director
            th Genre
            th Actors
            th Release Year
        tbody
          each movie in movies
            tr
              td.movie_covers
                a(href=`/movies/${movie.id}`)
                  img(src=`${movie.cover}`)
              td
                a(href=`/movies/${movie.id}`)= movie.movie_title
              td= movie.director
              td= movie.genre
              td= movie.main_actors
              td= movie.release_year
