extends layout.pug

include review.pug

block content
    div(class="main-content-container")
        div
            h3(class="movie-title")= movie.movie_title
        div(class="sub-detail-container")
                p= movie.release_year
                p= movie.genre
        div(class="movie-details")
                img(class="movie-cover" src=movie.cover alt="Cover image of the User's movie of interest.")
                table(class="details-table")
                    thead
                    tbody(class="table")
                        tr
                            td(class='leftHeader') Summary
                            td= movie.summary
                        tr
                            td(class='leftHeader') Director
                            td= movie.director
                        tr
                            td(class='leftHeader') Stars
                            td= movie.main_actors
                        tr
                            td(class='leftHeader') My Rating
                            td= ratings.rating
        div
            form(class='review' action=`/movies/${movieId}` method="post")
                h4 Write a review:
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="text" name="review_title" placeholder="Review title...")
                textarea(type="text" name="summary" placeholder='Type review here...')
                button(type="submit" id='review_button') Post Review
        div
            +review (reviews)
