append head
    link(rel='stylesheet' href='/stylesheets/rating.css')

mixin rating(section)
  if !rating
    div#removableRatingForm
      div
        if errors
          p#errors The following error(s) occurred:
            ul#errors
              each error in errors
                li= error
      form(class='rating-form' action=`/movies/${movieId}` method="post")
        h4.your_rating Rate this movie (1-5):
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="user_id" value=user_id)
        input(type="hidden" name="movieId" value=movieId)
        input(type="hidden" name="avgRating" value=avgRating)
        //- input(type="text" id="rating_input" )
        select(name="rating" class="custom-select" value=rating)
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
          option(value="4") 4
          option(value="5") 5
        a(href=`/movies/${movieId}`)
          button(type="submit" id='rating_button') Rate Movie
  if rating
    div.edit_delete_rating_buttons
      div#user_rating= rating.rating
      a.ratingDeleteBtn(href=`/ratings/${ratingId}/edit`)
          button(class='btn-edit' id=`edit-${ratingId}` type='submit') Edit Rating
      #ratingDeleteForm
        form(action=`/movies/${movieId}` method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          button(class='rate-btn-delete' id=`ratingDelete-${ratingId}` type='submit') Delete Rating
