append head
    link(rel='stylesheet' href='/stylesheets/review.css')

mixin review (reviews)
    div(class="user-review")
        each review in reviews
            div(class=`review-container-${review.id}`)
                div
                    i Posted by -- #{review.User.firstName}
                div(class=`review-title`)
                    b= review.review_title
                div(class=`review-summary`)= review.summary
                div(class="edit_delete_buttons")
                    if userId === review.User.id
                        a(href=`/reviews/${review.id}/edit`)
                            button(class='btn-edit' id=`edit-${review.id}` type='submit') Edit
                        form(action=`/movies/${movieId}` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            button(class='btn-delete' id=`${review.id}` type='submit') Delete
