mixin review (reviews)
    div(class="user-review")
        each review in reviews
            div(class=`review-container-${review.id}`)
                div= review.User.firstName
                div= review.summary
                if user_id === review.User.id
                    button(type="submit") Edit

                    form(id=review.id action=`/movies/${movieId}` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        button(class='btn-delete' id=`${review.id}` type='submit') Delete
    
